{
  "swagger": "2.0",
  "info": {
    "title": "BadBeatMods API",
    "description": "This isn't really fully complete, but its better than absolutely nothing.\n\nThis API documentation is automatically generated and therefor may not be 100% accurate and may be missing a few fields.",
    "version": "0.0.1"
  },
  "host": "bbm.saera.gay",
  "basePath": "/",
  "tags": [
    {
      "name": "Mods",
      "description": "Mod related endpoints"
    },
    {
      "name": "Auth",
      "description": "Authentication related endpoints"
    },
    {
      "name": "Versions",
      "description": "Version Management"
    },
    {
      "name": "Admin",
      "description": "Admin related endpoints"
    },
    {
      "name": "Approval",
      "description": "Approval related endpoints"
    },
    {
      "name": "MOTD",
      "description": "Message of the Day related endpoints"
    },
    {
      "name": "Users",
      "description": "User related endpoints"
    },
    {
      "name": "BeatMods",
      "description": "Legacy BeatMods API endpoints"
    }
  ],
  "schemes": [
    "https",
    "http"
  ],
  "consumes": [
    "application/json",
    "multipart/form-data",
    "application/x-www-form-urlencoded"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/beatmods/mod": {
      "get": {
        "tags": [
          "BeatMods"
        ],
        "summary": "Legacy BeatMods API endpoint.",
        "description": "Legacy BeatMods API endpoint. This is available for mod downloaders that have not been updated to use the new API.<br><br>This endpoint does not work the same way as the old BeatMods API, but it should be close enough to work with most mod downloaders.",
        "parameters": [
          {
            "name": "gameVersion",
            "description": "The game version as a string (ex. '1.29.1', '1.40.0').",
            "type": "string",
            "in": "query"
          },
          {
            "name": "status",
            "in": "query",
            "description": "The statuses to return. Available statuses are: 'approved' & 'all'",
            "format": "string",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns all mods."
          },
          "400": {
            "description": "Missing Game Version."
          }
        },
        "deprecated": true
      }
    },
    "/api/v1/mod": {
      "get": {
        "tags": [
          "BeatMods"
        ],
        "summary": "Legacy BeatMods API endpoint.",
        "description": "Legacy BeatMods API endpoint. This is available for mod downloaders that have not been updated to use the new API.<br><br>This endpoint does not work the same way as the old BeatMods API, but it should be close enough to work with most mod downloaders.",
        "parameters": [
          {
            "name": "gameVersion",
            "description": "The game version as a string (ex. '1.29.1', '1.40.0').",
            "type": "string",
            "in": "query"
          },
          {
            "name": "status",
            "in": "query",
            "description": "The statuses to return. Available statuses are: 'approved' & 'all'",
            "format": "string",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns all mods."
          },
          "400": {
            "description": "Missing Game Version."
          }
        },
        "deprecated": true
      }
    },
    "/api/beatmods/versions": {
      "get": {
        "tags": [
          "BeatMods"
        ],
        "summary": "Legacy BeatMods API Version endpoint.",
        "description": "Legacy BeatMods API endpoint. This is available for mod downloaders that have not been updated to use the new API.<br><br>This endpoint does not work the same way as the old BeatMods API, but it should be close enough to work with most mod downloaders.",
        "responses": {
          "200": {
            "description": "Returns all versions."
          }
        },
        "deprecated": true
      }
    },
    "/versions.json": {
      "get": {
        "tags": [
          "BeatMods"
        ],
        "summary": "Legacy BeatMods API Version endpoint.",
        "description": "Legacy BeatMods API endpoint. This is available for mod downloaders that have not been updated to use the new API.<br><br>This endpoint does not work the same way as the old BeatMods API, but it should be close enough to work with most mod downloaders.",
        "responses": {
          "200": {
            "description": "Returns all versions."
          }
        },
        "deprecated": true
      }
    },
    "/api/beatmods/aliases": {
      "get": {
        "tags": [
          "BeatMods"
        ],
        "summary": "Legacy BeatMods API Aliases endpoint.",
        "description": "Legacy BeatMods API endpoint. This is available for mod downloaders that have not been updated to use the new API.<br><br>This endpoint does not work the same way as the old BeatMods API, but it should be close enough to work with most mod downloaders.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Returns all aliases."
          }
        },
        "deprecated": true
      }
    },
    "/aliases.json": {
      "get": {
        "tags": [
          "BeatMods"
        ],
        "summary": "Legacy BeatMods API Aliases endpoint.",
        "description": "Legacy BeatMods API endpoint. This is available for mod downloaders that have not been updated to use the new API.<br><br>This endpoint does not work the same way as the old BeatMods API, but it should be close enough to work with most mod downloaders.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Returns all aliases."
          }
        },
        "deprecated": true
      }
    },
    "/api/mods": {
      "get": {
        "tags": [
          "Mods"
        ],
        "summary": "Get all mods for a specified version.",
        "description": "Get all mods.<br><br>If gameName is not provided, it will default to Beat Saber.<br>If gameVersion is not provided, it will default to whatever is set as the lastest version for the selected game.",
        "parameters": [
          {
            "name": "gameName",
            "description": "The game name.",
            "type": "string",
            "in": "query"
          },
          {
            "name": "gameVersion",
            "description": "The game version (ex. '1.29.1', '1.40.0').",
            "type": "string",
            "in": "query"
          },
          {
            "name": "status",
            "description": "The status of the mod. Available status are: 'verified'. Typing anything other than that will show you unverified mods too.",
            "type": "string",
            "in": "query"
          },
          {
            "name": "platform",
            "description": "The platform of the mod. Available platforms are: 'oculuspc', 'universalpc', 'steampc'",
            "type": "string",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns all mods."
          },
          "400": {
            "description": "Invalid gameVersion."
          }
        }
      }
    },
    "/api/mods/{modIdParam}": {
      "get": {
        "tags": [
          "Mods"
        ],
        "summary": "Get a specific mod by ID.",
        "description": "Get a specific mod by ID. This will also return every version of the mod.",
        "parameters": [
          {
            "name": "modIdParam",
            "in": "path",
            "required": true,
            "type": "number",
            "description": "The mod ID."
          },
          {
            "name": "raw",
            "description": "Return the raw mod info.",
            "type": "boolean",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the mod."
          },
          "400": {
            "description": "Invalid mod id."
          },
          "404": {
            "description": "Mod not found."
          }
        }
      },
      "patch": {
        "tags": [
          "Mods"
        ],
        "description": "",
        "parameters": [
          {
            "name": "modIdParam",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/modversions/{modVersionIdParam}": {
      "get": {
        "tags": [
          "Mods"
        ],
        "summary": "Get a specific mod version by ID.",
        "description": "Get a specific mod version by ID.",
        "parameters": [
          {
            "name": "modVersionIdParam",
            "in": "path",
            "required": true,
            "type": "number",
            "description": "The mod version ID."
          },
          {
            "name": "raw",
            "description": "Return the raw mod depedendcies without attempting to resolve them.",
            "type": "boolean",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the mod version."
          },
          "400": {
            "description": "Invalid mod version id."
          },
          "404": {
            "description": "Mod version not found."
          }
        }
      }
    },
    "/api/hashlookup": {
      "get": {
        "tags": [
          "Mods"
        ],
        "summary": "Show a mod that has a file with the specified hash.",
        "description": "Show a mod that has a file with the specified hash. This is useful for finding the mod that a file belongs to.",
        "parameters": [
          {
            "name": "hash",
            "description": "The hash to look up.",
            "type": "string",
            "required": true,
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the mod."
          },
          "400": {
            "description": "Missing hash."
          },
          "404": {
            "description": "Hash not found."
          }
        }
      }
    },
    "/api/mods/create": {
      "post": {
        "tags": [
          "Mods"
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "413": {
            "description": "Payload Too Large"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/mods/{modIdParam}/upload": {
      "post": {
        "tags": [
          "Mods"
        ],
        "description": "",
        "parameters": [
          {
            "name": "modIdParam",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "413": {
            "description": "Payload Too Large"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/modversion/{modVersionIdParam}": {
      "patch": {
        "tags": [
          "Mods"
        ],
        "description": "",
        "parameters": [
          {
            "name": "modVersionIdParam",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/mods/{modIdParam}/submit": {
      "post": {
        "tags": [
          "Mods"
        ],
        "description": "",
        "parameters": [
          {
            "name": "modIdParam",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/modVersions/{modVersionIdParam}/submit": {
      "post": {
        "tags": [
          "Mods"
        ],
        "description": "",
        "parameters": [
          {
            "name": "modVersionIdParam",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/auth": {
      "get": {
        "tags": [
          "Auth"
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/auth/logout": {
      "get": {
        "tags": [
          "Auth"
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/auth/github": {
      "get": {
        "tags": [
          "Auth"
        ],
        "description": "",
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/api/auth/github/callback": {
      "get": {
        "tags": [
          "Auth"
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/link/discord": {
      "get": {
        "tags": [
          "Auth"
        ],
        "description": "",
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/api/link/discord/callback": {
      "get": {
        "tags": [
          "Auth"
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/games": {
      "get": {
        "tags": [
          "Versions"
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/versions": {
      "get": {
        "tags": [
          "Versions"
        ],
        "description": "",
        "parameters": [
          {
            "name": "gameName",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Versions"
        ],
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "version": {
                  "example": "any"
                },
                "gameName": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/versions/default": {
      "get": {
        "tags": [
          "Versions"
        ],
        "description": "",
        "parameters": [
          {
            "name": "gameName",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Versions"
        ],
        "description": "",
        "parameters": [
          {
            "name": "gameVersionId",
            "description": "The ID of the version to set as default",
            "type": "number",
            "in": "query"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "gameVersionId": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/beatmods/importAll": {
      "post": {
        "tags": [
          "Admin"
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/admin/health/hashCheck": {
      "get": {
        "tags": [
          "Admin"
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/admin/health/missingIcons": {
      "get": {
        "tags": [
          "Admin"
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/admin/health/dependencyResolution": {
      "get": {
        "tags": [
          "Admin"
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/admin/linkversions": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Mark all versions as compatible with another gameversion.",
        "description": "Link two versions together.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "The versions to link.",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "version1": {
                  "type": "number",
                  "example": 1
                },
                "version2": {
                  "type": "number",
                  "example": 2
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/approval/new": {
      "get": {
        "tags": [
          "Approval"
        ],
        "summary": "Get new mods & modVersions pending approval.",
        "description": "Get a list of mods & modVersions pending their first approval.",
        "parameters": [
          {
            "name": "gameName",
            "description": "The name of the game to get new mods for.",
            "type": "string",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of mods pending first approval",
            "schema": {
              "type": "object",
              "properties": {
                "mods": {
                  "type": "array",
                  "example": [],
                  "items": {}
                }
              },
              "xml": {
                "name": "main"
              }
            }
          },
          "400": {
            "description": "Missing game name."
          },
          "401": {
            "description": "Unauthorized."
          },
          "404": {
            "description": "No mods found."
          }
        }
      }
    },
    "/api/approval/edits": {
      "get": {
        "tags": [
          "Approval"
        ],
        "summary": "Get edits pending approval.",
        "description": "Get a list of already existing mod & modVersions that are pending approval.",
        "parameters": [
          {
            "name": "gameName",
            "description": "The name of the game to get edits for.",
            "type": "string",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of edits pending approval",
            "schema": {
              "type": "object",
              "properties": {
                "edits": {
                  "type": "array",
                  "example": [],
                  "items": {}
                }
              },
              "xml": {
                "name": "main"
              }
            }
          },
          "400": {
            "description": "Missing game name."
          },
          "401": {
            "description": "Unauthorized."
          },
          "404": {
            "description": "No edits found."
          }
        }
      }
    },
    "/api/approval/mod/{modIdParam}/approve": {
      "post": {
        "tags": [
          "Approval"
        ],
        "summary": "Approve a mod.",
        "description": "Approve a mod for public visibility.",
        "parameters": [
          {
            "name": "modIdParam",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id of the mod to approve."
          },
          {
            "name": "status",
            "description": "The status to set the mod to.",
            "type": "string",
            "in": "query"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mod status updated."
          },
          "400": {
            "description": "Missing status."
          },
          "401": {
            "description": "Unauthorized."
          },
          "404": {
            "description": "Mod not found."
          },
          "500": {
            "description": "Error approving mod."
          }
        }
      }
    },
    "/api/approval/modversion/{modVersionIdParam}/approve": {
      "post": {
        "tags": [
          "Approval"
        ],
        "summary": "Approve a modVersion.",
        "description": "Approve a modVersion for public visibility.",
        "parameters": [
          {
            "name": "modVersionIdParam",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id of the modVersion to approve."
          },
          {
            "name": "status",
            "description": "The status to set the modVersion to.",
            "type": "string",
            "in": "query"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ModVersion status updated."
          },
          "400": {
            "description": "Missing status."
          },
          "401": {
            "description": "Unauthorized."
          },
          "404": {
            "description": "ModVersion not found."
          },
          "500": {
            "description": "Error approving modVersion."
          }
        }
      }
    },
    "/api/approval/edit/{editIdParam}/approve": {
      "post": {
        "tags": [
          "Approval"
        ],
        "summary": "Approve an edit.",
        "description": "Approve an edit for public visibility.",
        "parameters": [
          {
            "name": "editIdParam",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id of the edit to approve."
          },
          {
            "name": "status",
            "description": "The status to set the edit to.",
            "type": "string",
            "in": "query"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "accepted": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Edit status updated."
          },
          "400": {
            "description": "Missing status."
          },
          "401": {
            "description": "Unauthorized."
          },
          "404": {
            "description": "Edit not found."
          },
          "500": {
            "description": "Error approving edit."
          }
        }
      }
    },
    "/api/approval/mod/{modIdParam}": {
      "patch": {
        "tags": [
          "Approval"
        ],
        "summary": "Edit a mod in the approval queue.",
        "description": "Edit a mod in the approval queue.",
        "parameters": [
          {
            "name": "modIdParam",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id of the mod to edit."
          },
          {
            "name": "name",
            "description": "The new name of the mod.",
            "type": "string",
            "in": "query"
          },
          {
            "name": "summary",
            "description": "The new summary of the mod.",
            "type": "string",
            "in": "query"
          },
          {
            "name": "description",
            "description": "The new description of the mod.",
            "type": "string",
            "in": "query"
          },
          {
            "name": "gitUrl",
            "description": "The new gitUrl of the mod.",
            "type": "string",
            "in": "query"
          },
          {
            "name": "category",
            "description": "The new category of the mod.",
            "type": "string",
            "in": "query"
          },
          {
            "name": "gameName",
            "description": "The new gameName of the mod.",
            "type": "string",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Mod updated.",
            "schema": {
              "type": "object",
              "properties": {
                "mod": {
                  "type": "object",
                  "properties": {}
                }
              },
              "xml": {
                "name": "main"
              }
            }
          },
          "400": {
            "description": "No changes provided."
          },
          "401": {
            "description": "Unauthorized."
          },
          "404": {
            "description": "Mod not found."
          },
          "500": {
            "description": "Error updating mod."
          }
        }
      }
    },
    "/api/approval/modversion/{modVersionIdParam}": {
      "patch": {
        "tags": [
          "Approval"
        ],
        "summary": "Edit a modVersion in the approval queue.",
        "description": "Edit a modVersion in the approval queue.",
        "parameters": [
          {
            "name": "modVersionIdParam",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id of the modVersion to edit."
          },
          {
            "name": "gameVersionIds",
            "description": "The new gameVersionIds of the modVersion.",
            "type": "array",
            "items": {
              "type": "integer"
            },
            "in": "query"
          },
          {
            "name": "modVersion",
            "description": "The new modVersion of the modVersion.",
            "type": "string",
            "in": "query"
          },
          {
            "name": "dependencyIds",
            "description": "The new dependencyIds of the modVersion.",
            "type": "array",
            "items": {
              "type": "integer"
            },
            "in": "query"
          },
          {
            "name": "platform",
            "description": "The new platform of the modVersion.",
            "type": "string",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "ModVersion updated.",
            "schema": {
              "type": "object",
              "properties": {
                "modVersion": {
                  "type": "object",
                  "properties": {}
                }
              },
              "xml": {
                "name": "main"
              }
            }
          },
          "400": {
            "description": "No changes provided."
          },
          "401": {
            "description": "Unauthorized."
          },
          "404": {
            "description": "ModVersion not found."
          },
          "500": {
            "description": "Error updating modVersion."
          }
        }
      }
    },
    "/api/approval/edit/{editIdParam}": {
      "patch": {
        "tags": [
          "Approval"
        ],
        "summary": "Edit an edit in the approval queue.",
        "description": "Edit an edit in the approval queue.",
        "parameters": [
          {
            "name": "editIdParam",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id of the edit to edit."
          },
          {
            "name": "name",
            "description": "The new name of the mod.",
            "type": "string",
            "in": "query"
          },
          {
            "name": "summary",
            "description": "The new summary of the mod.",
            "type": "string",
            "in": "query"
          },
          {
            "name": "description",
            "description": "The new description of the mod.",
            "type": "string",
            "in": "query"
          },
          {
            "name": "gitUrl",
            "description": "The new gitUrl of the mod.",
            "type": "string",
            "in": "query"
          },
          {
            "name": "category",
            "description": "The new category of the mod.",
            "type": "string",
            "in": "query"
          },
          {
            "name": "authorIds",
            "description": "The new authorIds of the mod.",
            "type": "array",
            "items": {
              "type": "integer"
            },
            "in": "query"
          },
          {
            "name": "gameName",
            "description": "The new gameName of the mod.",
            "type": "string",
            "in": "query"
          },
          {
            "name": "gameVersionIds",
            "description": "The new gameVersionIds of the mod.",
            "type": "array",
            "items": {
              "type": "integer"
            },
            "in": "query"
          },
          {
            "name": "modVersion",
            "description": "The new modVersion of the mod.",
            "type": "string",
            "in": "query"
          },
          {
            "name": "dependencyIds",
            "description": "The new dependencyIds of the mod.",
            "type": "array",
            "items": {
              "type": "integer"
            },
            "in": "query"
          },
          {
            "name": "platform",
            "description": "The new platform of the mod.",
            "type": "string",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Edit updated.",
            "schema": {
              "type": "object",
              "properties": {
                "edit": {
                  "type": "object",
                  "properties": {}
                }
              },
              "xml": {
                "name": "main"
              }
            }
          },
          "400": {
            "description": "No changes provided."
          },
          "401": {
            "description": "Unauthorized."
          },
          "404": {
            "description": "Edit not found."
          },
          "500": {
            "description": "Error updating edit."
          }
        }
      }
    },
    "/api/approval/modVersion/{modVersionIdParam}/revoke": {
      "post": {
        "tags": [
          "Approval"
        ],
        "summary": "Revoke a modVersion",
        "description": "Revoke a modVersion\\'s verification status.\\n\\nThis will also revoke the verification status of any modVersions that depend on this modVersion.\r  // ",
        "parameters": [
          {
            "name": "modVersionIdParam",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "allowDependants": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/motd": {
      "get": {
        "tags": [
          "MOTD"
        ],
        "description": "",
        "parameters": [
          {
            "name": "gameName",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "MOTD"
        ],
        "description": "",
        "parameters": [
          {
            "name": "gameName",
            "in": "query",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "example": "any"
                },
                "startDate": {
                  "example": "any"
                },
                "endDate": {
                  "example": "any"
                },
                "postType": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/motd/{id}": {
      "delete": {
        "tags": [
          "MOTD"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/user": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get user information.",
        "description": "Get user information.",
        "responses": {
          "200": {
            "description": "Returns user information."
          },
          "401": {
            "description": "Unauthorized."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/api/user/{id}": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get user information.",
        "description": "Get user information.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "number",
            "description": "User ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Returns user information."
          },
          "400": {
            "description": "Invalid parameters."
          },
          "404": {
            "description": "User not found."
          }
        }
      }
    },
    "/api/user/{id}/mods": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get user information.",
        "description": "Get user information.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "number",
            "description": "User ID."
          },
          {
            "name": "status",
            "description": "Status of the mod.",
            "type": "string",
            "in": "query"
          },
          {
            "name": "platform",
            "description": "Platform of the mod.",
            "type": "string",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns mods."
          },
          "400": {
            "description": "Invalid parameters."
          },
          "404": {
            "description": "User not found."
          }
        }
      }
    },
    "/api/user/{id}/": {
      "patch": {
        "tags": [
          "User"
        ],
        "summary": "Get user information.",
        "description": "Get user information.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "displayName": {
                  "example": "any"
                },
                "sponsorUrl": {
                  "example": "any"
                },
                "bio": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns user information."
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    }
  }
}